header {
  background-color: #5e69ee;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.title {
  font-size: 2em;
}

.account {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.name {
  padding-right: 15px;
}

.user {
  background-color: #39afea;
  padding: 10px;
  margin-right: 10px;
}

section {
  background-color: #a0a5a6;
  min-height: 91vh;
  padding: 10px;
}

.room {
  width: 50%;
  margin: 0 auto;
  background-color: #f4f4fb;
  color: #5e69ee;
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.room_title h2 {
  font-size: 1.7em;
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
